<ns1:salesOrderShipmentCreate
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                              xmlns:ns1="urn:Magento">
    <sessionId xsi:type="xsd:string">$sessionId</sessionId>
    <orderIncrementId xsi:type="xsd:string">$orderIncrementId</orderIncrementId>
    <itemsQty soapenc:arrayType="ns1:orderItemIdQtyArray[$orderItemIds.size()]" xsi:type="soapenc:Array"
              xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
        #foreach($item in $orderItemIds)
            <itemsQty xsi:type="ns1:orderItemIdQty">
                <order_item_id xsi:type="xsd:int">${item.orderItemId}</order_item_id>
                <qty xsi:type="xsd:double">${item.quantity}</qty>
            </itemsQty>
        #end
    </itemsQty>
    <comment xsi:type="xsd:string">$comment</comment>
    <email xsi:type="xsd:int">$includeEmail</email>
    <includeComment xsi:type="xsd:int">$includeComment</includeComment>
</ns1:salesOrderShipmentCreate>
