<?xml version="1.0" encoding="UTF-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../EDIConfig.xsd" Version="3">
	<Meta>
		<Release>4010</Release>
		<Agency>X12</Agency>
	</Meta>
	<Format standard="X12"/>
	<Include href="X12.Segment"/>
	<Include href="X12.Codelist"/>
	<Include collection="EDI.Collection"/>
	<Group name="Envelope">
		<Group name="Interchange" maxOccurs="unbounded">
			<Segment ref="ISA" minOccurs="0"/>
			<Group name="Group" maxOccurs="unbounded">
				<Segment ref="GS" minOccurs="0"/>
				<Select name="Select" maxOccurs="unbounded" prefix="Message_" type="Group" field="ST/F143">
					<Segment ref="ST"/>
				</Select>
				<Segment ref="GE" minOccurs="0"/>
			</Group>
			<Segment ref="IEA" minOccurs="0"/>
		</Group>
	</Group>
</Config>