<?xml version="1.0" encoding="UTF-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../EDIConfig.xsd" Version="3">
	<Meta>
		<Release>4010</Release>
		<Agency>Altova</Agency>
	</Meta>
	<Format standard="X12"/>
	<Elements>
		<Data name="ErrorMessage" type="string" maxLength="999" minLength="1" info="Parser error message"/>

		<Segment name="MF_AK3" info="Data Segment Note">
			<Data ref="F721"/>
			<Data ref="F719"/>
			<Data ref="F447" minOccurs="0"/>
			<Data ref="F720" minOccurs="0"/>
			<Data ref="ErrorMessage"/>
		</Segment>
		<Segment name="MF_AK4" info="Data Element Note">
			<Composite ref="C030"/>
			<Data ref="F725" minOccurs="0"/>
			<Data ref="F723"/>
			<Data ref="F724" minOccurs="0"/>
			<Data ref="ErrorMessage"/>
		</Segment>
		<Segment name="MF_AK5" info="Transaction Set Response Trailer">
			<Data ref="F717"/>
			<Data ref="F718" minOccurs="0" mergedEntries="5"/>
		</Segment>
		<Segment name="MF_AK9" info="Functional Group Response Trailer">
			<Data ref="F715"/>
			<Data ref="F97"/>
			<Data ref="F123"/>
			<Data ref="F2"/>
			<Data ref="F716" minOccurs="0" mergedEntries="5"/>
		</Segment>

		<ErrorList name="ParserErrors_Group" minOccurs="0" maxOccurs="unbounded">
			<Segment ref="MF_AK9"/>
		</ErrorList>

		<ErrorList name="ParserErrors_Message" minOccurs="0" maxOccurs="unbounded">
			<Group name="LoopMF_AK3" minOccurs="0" maxOccurs="unbounded">
				<Segment ref="MF_AK3" minOccurs="0"/>
				<Segment ref="MF_AK4" minOccurs="0" maxOccurs="99"/>
			</Group>
			<Segment ref="MF_AK5"/>
		</ErrorList>

	</Elements>
</Config>
